.main-container {
  width: 1000px;
  margin: auto;
  height: 100vh;
}

.page-container {
  width: 100%;
  /* Not sure why the extra -65px is needed */
  height: calc(100% - var(--navbar-height) - 65px);
}
