.book-image-display-container {
    --book-width: 200px;
    --book-image-height: calc(var(--book-width) * 1.5);
    --book-info-height: 50px;
    width: var(--book-width);
    height: calc(var(--book-image-height) + var(--book-info-height));
}

.book-image-display-container:hover {
    cursor: pointer;
}

.book-cover {
    width: 100%;
    height: var(--book-image-height);
}

.book-info-container {
    width: 100%;
    height: var(--book-info-height);
    display: flex;
    flex-direction: column;
}

.book-title {
    font-weight: bold;
}

.book-author {
    color: var(--blue);
}
