.book-display-container {
    margin-top: 20px;
    width: 100%;
}

.book-display-table {
    width: 100%;
}


.book-display-container table {
    border-collapse: collapse;
}


.book-display-container td, th {
    box-sizing: default;
    border: 1px solid var(--grey) !important;
    padding-left: 3px;
}

.book-display-container thead > td {
    font-weight: 400;
}
